<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Le bon coincoin</title>
  <link rel="icon" type="image/png" href="favicon.jpg" />
  <link rel="stylesheet" type="text/css" href="web/css/coincoinadminstyle.css" />
</head>

<body>
	<a href="form_ajoutArticle.php"><button id="btnAjouter" class="btn btn-primary">Ajouter</button></a>

  <table>
    <thead>
      <tr>
        <th>référence</th>
        <th>titre</th>
        <th>image</th>
        <th>description</th>
        <th>Coincoin</th>
      </tr>
    </thead>
    <tbody>
      {% for element in liste %}
      <td>{{ element.id }}</td>
      <td>{{ element.titre }}</td>
      <td>
        {% if element.image != null %}
        <img src="assets/upload/{{ element.image }}" style="width:128px;height:128px;" />
        {% else %}
        <img src="assets/upload/canard1.jpg" style="width:128px;height:128px;" />
        {% endif %}
      </td>
      <td>{{ element.description }}</td>
      <td>
        la je mettrai le bouton like
      </td>
      <td>
        <a href="deleteCoincoin.php?id={{ element.id }}"><button id="btnDelete" class="btn btn-primary">Effacer</button></a>
        <a href="form_ajoutArticle.php?id={{ element.id }}"><button id="btnEdit" class="btn btn-primary">Editer</button></a>
      </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="4">Oh zut.... Plus de Coincoin...</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script type="text/javascript" src="web/js/jquery.min.js"></script>
  <script type="text/javascript" src="web/js/bootstrap.min.js"></script>

</body>

</html>
